# GreenTea (ViennaCL/OpenCL) backend switch

# Enable the CUDA backend
USE_CUDA := 1

# Enable the OpenCL/Greentea backend
USE_GREENTEA := 1

# Folder of the ViennaCL header-only library
VIENNACL_DIR = ../ViennaCL

# Either set CLBLAS or VIENNACLBLAS to 1, not both.
# If you want to use OpenCL/Greentea on the CPU only, you can also disable both.
# When both are disabled, GPUs won't work. CPUs always use CBLAS (Atlas, MKL or OpenBLAS).
USE_CLBLAS := 1
USE_VIENNACLBLAS := 0

