# GreenTea (ViennaCL/OpenCL) backend switch

# 32 bit / 64 bit indexing
# USE_INDEX_64 := 1

# Enable the CUDA backend and CUDNN
USE_CUDA := 1
USE_CUDNN := 0

# Enable the OpenCL/Greentea backend
USE_GREENTEA := 1

# Path to the modified caffe
CAFFE_PATH = ../caffe

# Folder of the ViennaCL header-only library
VIENNACL_DIR = ../ViennaCL

# Either set CLBLAS or VIENNACLBLAS to 1, not both.
# If you want to use OpenCL/Greentea on the CPU only, you can also disable both.
# When both are disabled, GPUs won't work. CPUs always use CBLAS (Atlas, MKL or OpenBLAS).
# CLBLAS needs to be compiled and installed from source, ViennaCL-BLAS is in the header-only
# library already.
USE_CLBLAS := 1

# CUDA directory contains bin/ and lib/ directories that we need.
CUDA_DIR := /usr/local/cuda
# On Ubuntu 14.04, if cuda tools are installed via
# "sudo apt-get install nvidia-cuda-toolkit" then use this instead:
# CUDA_DIR := /usr

# enable pretty build (comment to see full commands)
Q ?= @

# Backward compability for Makefile Caffe.
# Use if Caffe has been built with the Makefile instead of CMake.
# CAFFE_MAKE_BUILD := 1